button {
  width: 12vw;
  height: 35px;
  font-size: 15px;
  background-color: transparent;
  border-radius: 6px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #2F3136;
  border: none;
  opacity: 0.9;
  transition: 0.2s;
  text-align: left;
  display: flex;
  gap: 5px;
  justify-content: start;
  align-items: center;
}

button:hover {
  opacity: 1.5;
  border-width: 1px;
  background-color: #f6f6f6;
}