nav {
  height: 100%;
  background-color: #1A0931;
  left: 0;
  width: 4.70vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
}

.logo {
  width: 40%;
  position: relative;
  top: 2.5%;
}