@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.split {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-y: hidden;
}

.left {
  left: 0;
  width: 4.70%;
}

.right {
  right: 0;
  width: 95.3%;
  padding-left: 3.5%;
}

.page-header {
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #2F3136;
}

.card-tray {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 10px;
}

.page-container {
  display: flex;
  gap: 14px;
}

.quarter-column {
  border: 2px solid transparent;
  background-color: transparent;
  border-width: 1.5px;
  padding: 4px 14px;
  border-radius: 5px;
  width: 21vw;
  height: auto;
}

.no-task {
  color: #aaa;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 10px;
}



