@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.split {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-y: hidden;
}

.left {
  left: 0;
  width: 4.70%;
}

.right {
  right: 0;
  width: 95.3%;
  padding-left: 3.5%;
}

.page-header {
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #2F3136;
}

.card-tray {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

button {
  width: 12vw;
  height: 35px;
  font-size: 15px;
  background-color: transparent;
  border-radius: 6px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #2F3136;
  border: none;
  opacity: 0.9;
  transition: 0.2s;
  text-align: left;
  display: flex;
  gap: 5px;
  justify-content: start;
  align-items: center;
}

button:hover {
  opacity: 1.5;
  border-width: 1px;
  background-color: #f6f6f6;
}

.quarter-column {
  border: 2px solid #F2F2F4;
  background-color: transparent;
  border-width: 1.5px;
  padding: 15px 14px;
  border-radius: 5px;
  width: 21vw;
  height: auto;
}



